<h1><%= @user.profile.name %>, a sua senha foi atualizada</h1>

<p>
  A partir de agora o seu acesso ao portal será feito através da sua nova senha.
</p>

<p>
  <small>
    <b>Observação:</b> Caso essa recuperação de senha não foi feita por você, por favor,
    entre em contato com o suporte técnico da <%= I18n.t("site_name") %> através
    do telefone <%= I18n.t("support.phone") %>.
  </small>
</p>
