<h1><%= @user.profile.name %>, a recuperação da sua senha foi solicitada</h1>

<p>
  Para prosseguir com a recuperação de senha, <%= link_to(
    "clique aqui",
    "#{Rails.application.credentials[Rails.env.to_sym][:front_end_url]}/authentication/recover_password?token=#{@user.password_recover_token}"
  ) %>.
</p>

<p>
  <small>
    <b>Observação:</b> Caso essa solicitação de senha não foi feita por você, por favor,
    ignorar este e-mail.
  </small>
</p>